@media (prefers-color-scheme: dark) {
    body { background: white; color: darkslateblue; -webkit-app-region: no-drag;}
}

body {
    -webkit-app-region: no-drag;
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: darkslateblue;
    color: white;
}


.nav {
    width: 100%;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #343b48;
    -webkit-app-region: drag;
}

.nav-link {
    -webkit-app-region: no-drag;
    padding: 15px;
    cursor: pointer;
    font-size: 1.4rem;
}

.nav-link:hover {
    background-color: 343b48;
    color: #343b48;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background: #353535;
    color: black;
    align-self: stretch;
    -webkit-app-region: drag;
}

#content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: black;
    align-items: center;
}

.nav-link {
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    
}

h1 {
    -webkit-app-region: no-drag;
    font-weight: 800;
    font-size: 60px;
    margin: 0;
}

h2 {
    -webkit-app-region: no-drag;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    -webkit-app-region: no-drag;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;
}

p {
    -webkit-app-region: no-drag;
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    margin-bottom: 30px;
}

html {
    -webkit-app-region: no-drag;
    z-index: 999999;
    position: no-fix;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: darkslateblue;
}
button {
    -webkit-app-region: no-drag;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

html {
    z-index: 999999;
    position: no-fix;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: darkslateblue;
    -webkit-app-region: no-drag;
}
button:hover {
    -webkit-app-region: no-drag;
    background-color: rgb(0, 70, 150);
}

.main-btn {
    -webkit-app-region: no-drag;
    padding: 15px 200px;
    margin: 30px;
}

.small-btn {
    -webkit-app-region: no-drag;
    padding: 10px 100px;
}

.container {
    -webkit-app-region: no-drag;
    text-align: center;
}

input,
textarea,
html {
    z-index: 999999;
    position: no-fix;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: darkslateblue;
    -webkit-app-region: no-drag;
}
button {
    -webkit-app-region: no-drag;
    font-family: "Ubuntu", sans-serif;
}

textarea {
    resize: none;
}

input,
textarea {
    -webkit-app-region: no-drag;
    padding: 10px;
    font-size: 20px;
    width: 600px;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
}

textarea {
    height: 100px;
}

@keyframes slidein {
    from {
        bottom: -80px;
    }
    to {
        bottom: 20px;
    }
}

@keyframes slideout {
    from {
        bottom: 20px;
    }
    tp {
        bottom: -80px;
    }
}

.alert {
    background-color: white;
    width: 600px;
    padding: 20px 200px;
    border-radius: 5px;
    border: solid 3px rgb(0, 70, 150);
    outline: none;
    position: absolute;
    transform: translateX(50%);
    color: #343b48;
    text-align: center;
    font-size: 22px;
}

.slide-in {
    animation-name: slidein;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    bottom: 20px;
}

.slide-out {
    animation-name: slideout;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    bottom: -80px;
}

#main {
    transition: margin-left .5s;
  }
.sideBar{
    height: 100%;
    width: 0px;
    background-color: #343b48;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.closestuff{

    position:relative;
    top: 0;
    left: 150px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
}
.closestuff a{
    color: white;
}
.sideBar-items{
    overflow-x: hidden;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:40px;
    z-index: 1;
    transition: 0.5s;
}
.sideBar-items a{
    cursor: pointer;
    padding: 8px 8px;
    left: 50%;
    text-decoration: none;
    display: block;
    font-size: large;
    color: white;
    transition: 0.3s;
}

@media screen and (max-height: 450px) {
    .sideBar {
        padding-top: 15px;
    }
    .sideBar a {
        font-size: medium;
    }
}

@media screen and (max-height: 250px) {
    .sideBar {
        padding-top: 14px;
    }
    .sideBar a {
        font-size: small;
    }
}

@media screen and (max-height: 150px) {
    .sideBar {
        padding-top: 12px;
    }
    .sideBar a {
        font-size: x-small;
    }
}